/*** Layout and typography ***/
body {
    letter-spacing: unset;
    font-size: 1rem;
    line-height: 1.5em;
    background-color: $brand-background-variant;
    position: absolute; // menu content
    width: 100%;
}

main,
.wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

main {
    .content {
        background-color: transparent;
        position: relative;
        z-index: 1;
    
        &.content-raised {
            background-color: $brand-primary-light;
            @include shadow-16dp();
            border-radius: $border-radius-base * 2;
        }
    }

    .inner-container {
        padding-top: 100px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.wrapper{
&.wrapper-full-page{
    height: auto;
    min-height: 100vh;
}
}

.outer-container {
    margin-left: 31px;
    margin-right: 31px;
}

.inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

header {
    .brand-description {
        width: 50%;
        margin-left: -20%;
        padding: 0 8px;

        h4 {
            color: white;
            padding-right: 10%;
        }
    }
}

footer {
    .md-bottom-bar>.md-ripple {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .outer-container,
    &.outer-container {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/*** Colors on toolbars and cards ***/
.md-toolbar.md-primary-dark,
.md-card-header.md-primary-dark,
.md-toolbar.md-accent-dark,
.md-card-header.md-accent-dark {
    color: var(--md-theme-default-text-primary-on-primary);

    .md-button,
    .md-icon-font {
        color: var(--md-theme-default-text-primary-on-primary) !important;
    }
}

/*** Gradient on toolbars and cards ***/
.md-toolbar.md-primary-dark:not(.md-transparent),
.md-card-header.md-primary-dark,
.md-content.md-primary-dark {
    background: linear-gradient(60deg, lighten($brand-primary, 5), $brand-primary-dark);
}

.md-toolbar.md-accent-dark:not(.md-transparent),
.md-card-header.md-accent-dark,
.md-content.md-accent-dark {
    background: linear-gradient(60deg, lighten($brand-accent, 5), $brand-accent-dark);
}

/*** Logo ***/
.brand-logo {
    width: 100%;
    height: 14px;
    line-height: 14px;
    position: relative;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .brand-logo-icon {
        position: absolute;
    }

    .brand-logo-text {
        position: absolute;
        font-family: "Audiowide", cursive;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: white;
    }
}

/*** Google captcha terms ***/
form .md-card-actions {
	.md-button {
		position: absolute;
	}
	
	.terms {
		width: 100%;
		min-height: 38px;
		margin-right: 180px;
		font-size: 14px;
		line-height: 21px;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

.md-snackbar {
	max-height: unset;
	.md-snackbar-content {
		a {
			color: $brand-primary !important;
			text-transform: uppercase;
			padding-left: 20px;
			white-space: nowrap;
		}
	}
}
