
body {
  letter-spacing: unset;
  font-size: 1rem;
  line-height: 1.5em;
}

main,
.wrapper {
	margin: 0;
    padding: 0;
    border: 0;
}

main {
    min-height: 100vh;
	height: 100%;
	
	.content {
		background: transparent;
		//margin-left: 30px;
		//margin-right: 30px;
		position: relative;
	    z-index: 3;
	
		&.content-raised {
			background: $brand-primary-light;
			@include shadow-16dp();
		    border-radius: $border-radius-base * 2;
		}
	}
}

.wrapper{
  &.wrapper-full-page{
      height: auto;
      min-height: 100vh;
  }
}

.outer-container {
	margin-left: 31px;
	margin-right: 31px;
}

.inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

footer.outer-container {
	margin-top: 8px;
    margin-bottom: 8px;
}

.md-toolbar.md-medium .md-toolbar-row {
	min-height: 88px;
}

blockquote {
    p {
        font-style: italic;
        margin: 0;
    }
}

form .md-card .md-card-content {
	padding: 0;
}

.md-drawer {
	.md-list-item-expand > .md-list-item-content,
	li > a {
		margin: 0 5px;
	}
	
	li > a:focus,
	li > a:hover,
	li > a:active,
	.md-list-item-expand:not(.md-list-item-default):not([disabled]) > .md-list-item-content:hover,
	.md-list-item-expand:not(.md-list-item-default):not([disabled]) > .md-list-item-content:focus,
	.router-link-active {
		background-color: $brand-accent !important;
		@include shadow-8dp();
		@include transition($fast-transition-time, $transition-linear);
	
		.md-icon-font,
		.md-list-item-text {
			color: var(--md-theme-default-text-primary-on-accent, white);
		}
	}
	
	.md-list-item-expand {
		border: none;
	}
}

.md-theme-default {
	.md-toolbar.md-primary-dark:not(.md-transparent),
	.md-card-header.md-primary-dark {
		background: linear-gradient(60deg, lighten($brand-primary, 5), $brand-primary-dark) !important;
	}
	
	.md-toolbar.md-accent-dark:not(.md-transparent),
	.md-card-header.md-accent-dark {
		background: linear-gradient(60deg, lighten($brand-accent, 5), $brand-accent-dark);
	}
	
	/*** Accent* on required fields ***/
	.md-field label {
	  &:after {
	    color: var(--md-theme-default-fieldvariant);
	    top: -2px;
	  }
	}
}

a:not(.md-bottom-bar-item) {
  color: $link-color;
  &:hover,
  &:focus{
      //color: darken($link-color, 5%) !important;
      text-decoration: none !important;
  }

  &.text-info{
      &:hover, &:focus{
          color: darken($brand-info, 5%);
      }
  }

  & .material-icons {
    vertical-align: middle;
  }
}

.dropdown.open .dropdown-toggle .md-ripple:after {
  @include rotate-180();
}

.caret,
.md-toolbar {
    @include transition($fast-transition-time, $transition-ease-in);
}

/*           Animations              */
.animation-transition-general{
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-slow{
    @include transition($slow-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition($fast-transition-time, $transition-ease);
}
legend {
  border-bottom: 0;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.md-snackbar {
	max-height: unset;
	.md-snackbar-content {
		a {
			color: $brand-primary !important;
			text-transform: uppercase;
			padding-left: 20px;
			white-space: nowrap;
		}
	}
}

.places-buttons{
  .md-button{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*.md-snackbar {
	background: linear-gradient(60deg, lighten($brand-accent, 5), $brand-accent-dark);
}*/

.md-ripple .md-ripple-wave {
  border-radius: 50% !important;
}

.small, small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto!important;
}

.md-layout.md-gutter {
    margin-right: 0 !important;
    margin-left:  0 !important;
}

.brand-logo-title {
	height: 14px;
	line-height: 14px;
	position: relative;
	left: -47px;
}

.md-toolbar .md-button {
	color: white !important;
}

.md-card {
	.md-accent-dark,
	.md-primary-dark,
	.md-accent-dark .md-icon-font,
	.md-primary-dark .md-icon-font,
	.md-accent-dark .md-icon-font:before,
	.md-primary-dark .md-icon-font:before {
		color: white;
	}
	.md-card-header .md-card-media {
	    width: 48px;
	    height: 48px;
	    flex: 0 0 48px;
	}
	
	&.md-theme-default {
	    background-color: #fff;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

form .md-card-actions {
	.md-button {
		position: absolute;
	}
	
	.terms {
		width: 100%;
		min-height: 38px;
		margin-right: 180px;
		font-size: 14px;
		line-height: 21px;
	}
}
