
@media (max-width: 960px) {
	.outer-container {
		margin-left: 23px;
		margin-right: 23px;
	}
	
	#desctopMenu {
		display: none;
	}
}

@media (min-width: 961px){
	.md-toolbar-toggle {
      display: none;
    }
}

@media (max-width: 480px) {
	.outer-container {
		margin-left: 8px;
		margin-right: 8px;
	}
	
	form .md-card-actions {
		display: block;
		
		.md-button {
			position: relative;
		}
	
		.terms {
			margin-right: 0;
    		margin-bottom: 8px;
		}
	}
}
