.not-found {
	main {
		min-height: 100vh;
		
		.inner-container {
			padding-bottom: 60px;
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	
	.wrapper {
	    background-position: center center;
	    background-size: cover;
	}

	h1,
	h2 {
		text-transform: uppercase;
		color: white;
	}
	
	hr {
		width: 100%;
	}
}
@media (min-width: 960px) {
	.not-found main {
		display: flex;
		align-items: center;
	}
}
