@import "highlight.js/scss/atelier-heath-light.scss";

.guide-page {

	main {
		min-height: calc(100vh - 72px);
		padding-bottom: 72px;
		
		.inner-container {
			max-width: unset;
		}
	}

	footer {
		position: absolute;
		z-index: 3;
		bottom: 0;
		width: 100%;
	}

	.guides-layout {
		.left-pane {
			.md-list .md-list-item::after {
				background-color: var(--md-theme-default-divider);
				height: 1px;
				margin-left: 6px;
				margin-right: 6px;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 1;
				content: " ";
			}
		}
	  
		.left-pane,
		.content-pane,
		.right-pane {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		
		.left-pane {
			padding-left: 16px;
		}
		
		.right-pane {
			padding-right: 16px;
		}
		
		.content-pane {
			min-height: calc(100vh - 72px);
			padding-top: 90px;
			padding-bottom: 90px;
			z-index: 1;

			h2 {
				margin-top: 0;
			}

			pre,
			code {
				overflow-x: auto;
    			/*max-width: calc(100vw - 110px);*/
			}

			section h2 {
				padding-top: 110px;
			}

			.guide {
				max-width: -webkit-fill-available;
				max-width: -moz-available;
				max-width: fill-available;
			}
		}

		&.guides-layout-fixed {
			position: fixed;
			width: 100%;
		}

		&.guides-layout-content {
			padding-top: 0;
		}
	}

	table, th, td {
		border: 1px solid var(--md-theme-default-text-primary-on-background, black);
	}

	th, td {
		padding: 6px 24px;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 0.25rem solid var(--md-theme-default-accent, orange);
		margin-bottom: 3rem;

		p {
			font-style: italic;
			margin: 0;
		}
	}
}

@media (min-width: 1920px) {
	.guide-page .guides-layout .left-pane {
		align-items: flex-end;
	}
}

@media (min-width: 961px) {
	.guide-page .guides-layout .content-pane {
		max-width: 80%;
	}
}

@media (max-width: 960px) {
	.guide-page .guides-layout .content-pane {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	.guide-page .guides-layout .content-pane {
		pre,
		code {
			overflow-x: auto;
			max-width: calc(100vw - 44px);
		}
	}
}