
.landing-page {

	header {
		z-index: 2;
		position: fixed;
		top: 0;
	}

	main {
		.outer-container {
			margin-top: 100vh;
		}

		.inner-container {
			padding-top: 0;
		}

		.hide-page-header {
			opacity: 0 !important;
		}
	}

	footer {
		position: absolute;
	    width: 100%;
	}

	.page-header{
		position: fixed;
		top: 0;
		z-index: 0;
		width: 100vw;
		height: 100vh;
		//background-color: rgb(21, 21, 71);
		background-position: center center;
		background-size: cover;
		margin: 0;
		padding: 0;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h2 {
		text-align: center;
	}

	.section {
		padding-top: 60px;
	}

	.md-card {
		margin-top: 40px;
	}
	
	.brand-description {
		width:50%;
		margin-left: -20%;
		padding: 0 8px;

		h1 {
			font-family: "Audiowide", cursive;
			font-size: 5rem;
			font-weight: 400;
			font-style: normal;
			line-height: normal;
			color: white;
			text-shadow: -2px -1px 12px $brand-primary;

		}

		h4 {
			color: white;
			padding-right: 10%;
		}
	}

	blockquote {
		padding-left: 1rem;
		border-left: 0.25rem solid var(--md-theme-default-accent, orange);
		//margin-left: auto;
		margin-bottom: 3rem;
		max-width: 340px;

		p {
			font-style: italic;
			margin: 0;
		}
	}

	#concept {
		text-align: center;

		h3 {
			font-size: 2rem;
		}

		svg {
			fill: $text-primary-on-background-variant;
		}

		p {
			margin-top: -24px;
		}

		.md-content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
	}
}

@media (min-width: 1920px) {
	.landing-page .brand-description {
		width: 40%;

		h1 {
			font-size: 6rem;
		}
	}
}

@media (max-width: 1280px) {
	.landing-page .brand-description {
		width: 60%;

		h1 {
			font-size: 4rem;
		}
	}
}

@media (max-width: 960px) {
	.landing-page .brand-description {
		width: 70%;

		h1 {
			font-size: 3rem;
		}
	}
}

@media (max-width: 600px) {
	.landing-page .brand-description {
		width: 70%;

		h1 {
			font-size: 2.3rem;
		}
	}
}

@media (max-width: 480px) {
	.landing-page .brand-description {
		width: 100%;
		margin-left: 0;
	}
}
