
.login-page {

	main {
		min-height: 100vh;
		background-position: center center;
		background-size: cover;
		
		.inner-container {
			padding-bottom: 60px;
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	
	.wrapper {
	    background-position: center center;
	    background-size: cover;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 0.25rem solid var(--md-theme-default-accent, orange);
		margin-left: 0;
		margin-bottom: 3rem;
		//color: white;

		p {
			font-style: italic;
			margin: 0;
		}
	}

}
@media (max-width: 960px) {
	.login-page {
		main .inner-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media (min-width: 960px) {
	.login-page main {
		display: flex;
		align-items: center;
	}
}
